body{ margin: 0;
    font-family: 'Redressed', cursive;


}
h1{
    font-size: 60px;
}

.name{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    

}
.half img{
    width: 100%;
}
.topbanner{background-image:url(img/top-banner.png);

}
section{
    height: 500px;
    background-repeat: no-repeat;
}

.linkbutton{
    color: rgb(250, 250, 250);
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,salmon);
    border-radius: 5px;
    
    
}